@font-face {
  font-family: "iconfont"; /* Project id 3187465 */
  src: url('iconfont.woff2?t=1648610842776') format('woff2'),
       url('iconfont.woff?t=1648610842776') format('woff'),
       url('iconfont.ttf?t=1648610842776') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: "\e63c";
}

.icon-xialajiantou1:before {
  content: "\e625";
}

.icon-yanjing:before {
  content: "\e62b";
}

.icon-xiaoxi:before {
  content: "\e63a";
}

.icon-xiaoxi1:before {
  content: "\e62f";
}

.icon-xiaoxi2:before {
  content: "\e640";
}

.icon-xiangshang_jiantou:before {
  content: "\e63f";
}

.icon-facebook:before {
  content: "\e676";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-Twitter:before {
  content: "\e62d";
}

